<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AnishInTech - {{.HomeTitle}}</title>
    <style type="text/css">
        body { 
            padding: 50px;
            align-items: center;
            font-size: 15px;
            font-style: italic;
        }
        li{
            color: #00B7FF;
        }

    </style>
</head>
<body>
    <h1> Hello From my first Go Lang application</h1>
    <div>
        <li class="ans"><b>Name</b>:{{.Name}}</li>
        <li><b>Profession</b>:{{.Profession}}</li>
        <li><b>Country</b>:{{.Country}}</li>
        <a href="/task">Go to task page</a>
    </div>
</body>
</html>