<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task</title>

    <style type="text/css">
        body {
            background-color: green;
            align-items: center;
            color: red; 
            padding: 50px;
            font-size: 15px;
            font-style: italic;
        }
        ul{
        list-style-type: circle;
    }  
    </style>
    
</head>
<body>
    <h1> Here are the few task to complete</h1>
    <ul>
        <h2><b>Task</b>:{{.TaskNumber}}</h2>
        <li>Title:{{.Title}}</li>
        <li>Due Date:</b>:{{.Due}}</li>
        
      </ul>
</body>
</html>